pyttsx3
pyaudio
speechrecognition
wikipedia
pyjokes
datetime
wolframalpha
PyAutoGUI
google-generativeai
requests
beautifulsoup4
pygame
pywhatkit
PyPDF2
pyinstaller
keyboard
opencv-python
huggingface_hub
streamlit
winshell
