pyttsx3
speechrecognition
wikipedia
smtplib
pyjokes
datetime
wolframalpha
os-sys
PyAutoGUI
google-generativeai
requests
beautifulsoup4
pygame
pywhatkit
PyPDF2
pyinstaller
keyboard
opencv-python
huggingface_hub
